body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p
{
  height: 80px
  
}
p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}